<% remote_form_for :invoice, :url=>{:action=>"create"} do |i| %>
<h1>Create new invoice</h1>

<div id="popup_container">
	<h3>Invoice Number</h3>
	<%= text_field_tag("invoice[invoice_number]", @next_inv_num, :style=>"width:50px") %>
	<br style="clear:both" /><br style="clear:both" />
	<h3>Set invoice date</h3>
	<%= calendar_date_select_tag "invoice_date", Time.now %>
	<br style="clear:both" /><br style="clear:both" />
	<h3>Choose a client, contact and job</h3>
	<% fields_for :client do |c| %>
	<%= c.collection_select(:id, Client.find(:all, :order=>"company ASC"), :id, :company, {:prompt=>"Choose a client..."}, {:onchange=>remote_function(:url=>{:action=>:choose_client}, :with=>"'client[id][]=' + this.value") } ) %>
	<% end %>
	
	<% fields_for :contact do |contact| %>
	<div id="client_contacts">&nbsp;</div>
	<% end %>
	
	<% fields_for :job do |j| %>
	<div id="client_jobs">&nbsp;</div>
	<% end %>

	<br style="clear:both" /><br style="clear:both" />
	<h3>Add invoice items</h3>
	<p id="new_invoice_link"><%= link_to_remote "[+] Add New Item", :url=>{:controller=>"invoices", :action=>"new_invoice_item" } %></p>

	<table id="invoice_items">
		<tr>
			<th style="width:115px;">Item</th>
			<th style="width:245px;">Description</th>
			<th style="width:85px;">Unit Cost</th>
			<th style="width:25px;">Units</th>
		</tr>
		<%= render :partial=>"invoice_item", :locals=>{ :iitem => @iitem } %>
	</table>
	
	<h3>Specify taxes</h3>
	
	<% if @taxes %>
		<% @taxes.each do |t| %>
			<p><%= check_box_tag "tax[]", t.id %> <%= t.tax %></p>
		<% end %>
	<% end %>
	<br style="clear:both" />
	<%= submit_tag("Create Invoice") %>
	
</div>
<% end %>