<tr id="task_<%=task.id%>" class="task_item">
	<td>
		<% if task.status_flag == "open" %>
			<%= link_to_remote image_tag("/images/unchecked.jpg"), :url=>{:action=>"task_update", :id=>task.id } %>
		<% else %>
			<%= link_to_remote image_tag("/images/checked.jpg"), :url=>{:action=>"task_update", :id=>task.id } %>
		<% end %>
	</td>
	<td><%= task.task %></td>
	<td><%= link_to_remote image_tag("/images/cancel.png"), :url=>{:action=>"task_delete", :id=>task.id}, :confirm=>"Are you sure you want to delete this? You can't get it back." %>
</tr>
