<div id="box66" class="job">
	<div id="box66_top" class="job"></div>
	<div id="box66_content" class="job">
		<h1>Jobs</h1>
		<p class="new_link"><%= link_to "[+] New Job", {:controller=>"jobs", :action=>"new"}, :popup=>['Create new job', 'height=500,width=600,resizable=yes,scrollbars=yes'] %></p>
		<% if @jobs %>
		<table>	
			<tr>
				<th>Client</th>
				<th>Description</th>
				<th>Status</th>
				<th>Age</th>
			</tr>
		<% @jobs.each do |j| %>
			<tr id="job_<%=j.id%>" onclick="<%= remote_function(:url=>{:controller=>"jobs", :action=>"tasks", :id=>j.id}) %>" <%= "class='active'" if @job && @job.id == j.id %>>
				<td><%= j.client.short_company_name %></td>
				<td><%= j.description %></td>
				<td><%= j.status %></td>
				<td><%= j.age_in_days %> days</td>
			</tr>
		<% end %>
		</table>
		<% end %>		
	</div>
	<div id="box66_bottom" class="job"></div>
</div>

<div id="box33">
	<% if @tasks %>
		<%= render :partial=>"tasks", :locals=>{:tasks=>@tasks, :job=>@job}%>
	<% end %>
</div>
<br style="clear:both" />