<% remote_form_for @contact, :url=>{:action=>"contact_update"} do |c| %>
<h1>Update contact</h1>

<div id="popup_container">
	<h3>Contact Name</h3>
	<p>First Name<br/>
	<%= c.text_field :fname %></p>
	<p>Last Name<br/>
	<%= c.text_field :lname %></p>
	

	<br style="clear:both" /><br style="clear:both" />
	<h3>Contact Info</h3>
	
	<table id="invoice_items">
		<tr>
			<th>Email</th>
			<td><%= c.text_field :email %></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><%= c.text_field :phone %></td>
		</tr>
	</table>
	
	<br style="clear:both" />
	<%= c.hidden_field(:id)%>
	<%= submit_tag("Update Contact") %>
	
</div>
<% end %>