<div class="home_box" id="past">
        <div class="title"></div>
        <div class="body">
          <p style="margin-bottom:10px;"><%= number_to_currency(Invoice.all_owing)%> outstanding from <%= @invoices.size%> invoice<%= "s" if @invoices.size > 1 || @invoices.size == 0 %></p>
		 
		<% if @invoices_60plus.size > 0 %>
		
		<p>60+ Days: <%= number_to_currency(invoices_sum(@invoices_60plus)) %></p>
          <table style="margin-bottom:10px;">
          
            <% @invoices_60plus.each do |i| %>
            	<%= render :partial=>"invoice_row", :locals=>{:i=>i}%>
            <% end %>
          </table>
        <% end %>

		<% if @invoices_30plus %>
		<p>30+ Days: <%= number_to_currency(invoices_sum(@invoices_30plus)) %></p>
          <table style="margin-bottom:10px;">
            <% @invoices_30plus.each do |i| %>
            	<%= render :partial=>"invoice_row", :locals=>{:i=>i}%>
            <% end %>
          </table>
        <% end %>

        <% if @invoices_0plus %>
		<p>0+ Days: <%= number_to_currency(invoices_sum(@invoices_0plus)) %> </p>
          <table>
            <% @invoices_0plus.each do |i| %>
            	<%= render :partial=>"invoice_row", :locals=>{:i=>i}%>
            <% end %>
          </table>
        <% end %>
        </div>
        <div class="foot"></div>
      </div>
      
      <div class="home_box" id="present">
        <div class="title"></div>
        <div class="body">
          <p><%= number_to_currency(Job.active_total)%> pending on <%= @jobs.size %> active job<%= "s" if @jobs.size > 1 || @jobs.size == 0 %></p>
          <table>
          <% if @jobs %>
            <% @jobs.each do |j| %>
              <% complete = j.tasks.find_all_by_status_flag("completed") %>
              <% num_complete = complete.size.nil? ? 0 : complete.size %>
              <% task_text =  num_complete.to_s + " of " + j.tasks.size.to_s %>
            <tr>
              <td><%= j.client.short_company_name %></td>
              <td><%= link_to task_text, :controller=>"jobs", :action=>"index", :id=>j.id %></td>
              <td class="money"><%= number_to_currency(j.dollar_value)%></td>
            </tr>
            <% end %>
          <% end %>
          </table>
        </div>
        <div class="foot"></div>
      </div>
      
      <div class="home_box" id="future">
        <div class="title"></div>
        <div class="body">
          <p><%= number_to_currency(Job.estimate_value)%> potential from <%= Job.estimates.size unless Job.estimates.size.nil? %> prospect<%= "s" if Job.estimates.size > 1 || Job.estimates.size == 0 %></p>

          <table>
          <% if @estimates %>
            <% @estimates.each do |e| %>
            <tr>
              <td><%= e.job.client.company %></td>
              <td><%= link_to "Estimate", {:controller=>"jobs", :action=>"edit", :id=>e.job.id}, :popup=>['Edit job', 'height=500,width=600,resizable=yes,scrollbars=yes'] %></a></td>
              <td class="money"><%= number_to_currency(e.dollar_value)%></td>
            </tr>
            <% end %>
          <% end %>
          </table>
        </div>
        <div class="foot"></div>
      </div>
      <br style="clear:both" />